@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1c2024;
  --primary: #118b50;
  --secondary: #f0f0f3;
  --border: #e8e8ec;
  --card: #e8e8ec;
  --muted-foreground: #858891;
  --muted-foreground-secondary: #c0c1c6;
  --nav-card: #f9f9fa;
  --muted: #80838d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted-foreground-secondary: var(--muted-foreground-secondary);
  --color-muted: var(--muted);
  --color-nav-card: var(--nav-card);
  --font-sans: var(--font-space-grotesk);
  --font-geist: var(--font-geist-sans);
  --font-mono: var(--font-jetbrains-mono);
  --font-heading: var(--font-bluu-next-bold);
  --font-caveat: var(--font-caveat);
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #1c2024;
  --primary: #118b50;
  --secondary: #f0f0f3;
  --border: #e8e8ec;
  --card: #e8e8ec;
  --muted-foreground: #858891;
  --muted-foreground-secondary: #c0c1c6;
  --muted: #80838d;
  --nav-card: #f9f9fa;
}

[data-theme="dark"] {
  --background: #111113;
  --foreground: #edeef0;
  --primary: #88ff8c;
  --secondary: #18191b;
  --border: #212225;
  --card: #212225;
  --nav-card: #151618;
  --muted-foreground: #6d7079;
  --muted-foreground-secondary: #44464b;
  --muted: #777b84;
}

body {
  color: var(--foreground);
  font-family: "Satoshi", sans-serif;
}

h1 {
  @apply font-heading;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.slide-reveal {
  visibility: hidden;
}

.slide-reveal-line {
  opacity: 0;
  transform: translateY(100%);
  transition: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
}
